*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    height: 70px;
    width: 75%;
    border: 1px solid black;
    margin: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    font-size: 23px;
    padding: 28px;
    transition: transform 2s linear;
}
nav:hover{
    box-shadow: 0 0 8px rgb(120, 10, 12);
    transform: translateY(-3px);
}
nav #navigation_option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 25%;
}
#navigation_option a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
}
#logo>h1{
    font-size: 35px;
    font-weight: 700;
}
#logo>h1::first-letter{
    color: rgb(0, 250, 102);
}
#search_box{
    height: 42px;
    width: 300px;
    border: 1px solid gray;
    display: flex;
    border-radius: 25px;
}
#search_box input{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 20px;
}
#search_box #search_logo, #micro_logo{
    height: 40px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
#search_logo{
    border-radius: 25px 0 0 25px;
}
#micro_logo{
    border-radius: 0 25px 25px 0;
    background-color: orange;
    color: white;
}
a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: orange;
    transition: width 0.5s ease;
}
a:hover::after{
    width: 100%;
}
#navigation_option a:hover{
    color: orange;
}
#search_box:focus-within{
    box-shadow: 0px 0px 10px rgb(100, 201, 150);
}
#cart:hover{
    transition: all 0.1s linear;
    color: orange;
}
#recipeContainer main{
    width: 300px;
    height: 400px;
    background-color: rgba(10, 180, 302,0.5);
    margin-top: 10px;
    border-radius: 15px;
}
#recipeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
img{
    height: 250px;
    width: 300px;
}
img:hover{
    transition: 1s linear;
    scale: calc(1.2);
}
h2{
    text-align: center;
    font-size: 25px;
}
#image{
    height: 250px;
    width: 300px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
}
#container{
    /* padding-left: 20px; */
    font-size: 15px;
    cursor: pointer;
}
#p1,#p2,#p3,#p4{
    display: flex;
    justify-content: space-around;
    background-color: rgb(210, 270, 168);
    margin-top: 10px;
    padding: 5px;
    border-radius: 30px;
}
