*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#login_Container{
    height: 300px;
    width: 25%;
    background-color: #ffffff;
    box-shadow: 0 15px 50px rgba(0,0,10,0.18);
    margin: 8% 35%; 
    padding: 20px;
    border-radius: 15px;
}
h2{
    text-align: center;
}
.login_group{
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#email,#password{
    /* margin-top: 10px; */
    height: 30px;
}
button{
    padding: 4px 7px;
    margin: 10px;
}
#password_block{
    height: 32px;
    margin-top: 10px;
    border: 1px solid gray;
}
#password{
    width: 294px;
    border: none;
}

