*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#formContainer{
    height: 500px;
    width: 25%;
    background-color: #ffffff;
    box-shadow: 0 15px 50px rgba(0,0,10,0.18);
    margin: 8% 35%; 
    padding: 20px;
    border-radius: 15px;
}
.form_Group{
    font-size: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#name,#email,#password,#mobile{
    height: 30px;
}
#register,p{
    margin: 8px;
}