*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", system-ui, sans-serif;
}

body{
  background: #f4f6fb;
  color: #222;
}


main{
  max-width: 1100px;
  margin: 60px auto;
  background: #ffffff;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.08);
}

.product_container{
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}


.product_image{
  flex: 1;
  min-width: 260px;
  background: #f9fafb;
  padding: 30px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}

.product_image img{
  width: 260px;
  object-fit: contain;
  
}

.product_info{
  flex: 1.2;
  min-width: 320px;
}

.product_info h1{
  font-size: 36px;
  margin-bottom: 18px;
  color: rgb(145, 90, 99);
}

.product_info p{
  font-size: 15px;
  line-height: 1.7;
  margin: 10px 0;
  color: #444;
}

.product_info b{
  font-weight: 600;
  color: #000;
}


.price{
  margin-top: 20px;
  font-size: 60px;
  font-weight: 800;
  color: #e11d48;
}


.btn_group{
  display: flex;
  gap: 18px;
  margin-top: 35px;
}

.btn_group button{
  padding: 14px 34px;
  font-size: 15px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

.btn_group button:hover{
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.addTocart{
  background: #2563eb;
  color: red;
}

.backTohome{
  background: #dc2626;
}


.reviews{
  margin-top: 70px;
}

.reviews h2{
  font-size: 26px;
  margin-bottom: 30px;
  border-left: 5px solid #e11d48;
  padding-left: 14px;
}


.review{
  background: #ffffff;
  padding: 22px 26px;
  border-radius: 16px;
  margin-bottom: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.07);
}


.stars{
  font-size: 18px;
  margin-bottom: 8px;
}

.review p{
  font-size: 14px;
  margin-bottom: 6px;
}

.review small{
  color: #666;
}