*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav{
    height: 72px;
    width: 75%;
    border: 1px solid gray;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    gap: 15px;
    padding: 28px;
    border-radius: 35px;
    transition: transform 0.2s linear;
}
nav:hover{
    box-shadow: 0 0 8px rgb(174, 79, 79);
    transform: translate(-4px);
}
nav #navigation_option{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 25%;
}
#navigation_option a{
    text-decoration: none;
    color: rgb(78, 75, 75);
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
}
nav #logo>h1{
    font-size: 30px;
    font-weight: 700;
}
nav #logo>h1::first-letter{
    color: orangered;
    font-size: 35px;
}
#search_box{
    width: 300px;
    height: 42px;
    border: 1px solid gray;
    display: flex;
    border-radius: 25px;
}
#search_box input{
    height: 100%;
    width: 258px;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 25px;
    font-size: 20px;
}
#search_box  #search_logo{
    height: 40px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border-radius: 0 25px 25px 0;
    color: white;
    font-size: 18px;
}
.nav_items::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: blue;
    transition:  width 0.5s ease;
}
a:hover::after{
    width: 100%;
}

.cart_bar:hover{
    transition: all 0.3s linear;
    color: blue;
}
#navigation_option .nav_items:hover{
    color: blue;
}

/* #navigation_option:hover{
    color: blue;
} */
#search_box:focus-within{
    box-shadow: 0px 0px 10px rgb(108, 101, 185);
}
/* #cart:hover{
    transition: all 0.3s linear;
    color: blue;
} */

#productContainer main{
    width: 300px;
    height: 400px;
    /* background-image: linear-gradient(red,yellow); */
    background-color: rgb(174, 179, 79);
    margin-top: 10px;
    border-radius: 10px;
}
#productContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
img{
    height: 250px;
    width: 250px;
}
img:hover{
    transition: 1s linear;
    scale: calc(1.2);
}
h3{
    text-align: center;
    font-size: 20px;
}
#image{
    height: 250px;
    width: 300px;
    background-color: antiquewhite;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
#ratingBox, #detailsBox{
    /* padding-left: 20px; */
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    cursor: pointer;
}
#rating{
    background-image: linear-gradient(red,yellow);
    /* background-color: rgb(200, 70, 68); */
    padding: 5px 12px;
    border-radius: 10px;
}
#detailsButton{
    font-size: 20px;
    background-image: linear-gradient(green,orange,pink);
    /* background-color: rgb(100, 170, 68); */
    padding: 5px 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
